html,body{margin:0;padding:10px}
body, p, h1 {
    font-family: 'Roboto';
}

img {
    margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}